@page
@using Sample.Hosted.Utils
@model Sample.Hosted.Pages.User.Profile.ProfileDetailsModel
@{
    var title = "User Profile Details";;
    var options = LayoutOptionsFor.Full(title);
    options.SubNavigation=SubNavigationFor.ProfileSubNavigationCollection;

    ViewData[ViewDataFor.Title] = title;
    ViewData[ViewDataFor.MainContentLayoutOptions] = options;
}

@if (Model.IdentityUser == null)
{
    <div class="alert alert-warning">
        No user information available.
    </div>
}
else
{
    <dl class="row mb-0">
        <dt class="col-sm-3">User ID</dt>
        <dd class="col-sm-9">@Model.IdentityUser.Id</dd>

        <dt class="col-sm-3">User Name</dt>
        <dd class="col-sm-9">@Model.IdentityUser.UserName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.IdentityUser.Email</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.IdentityUser.PhoneNumber</dd>

        <dt class="col-sm-3">Slim UI</dt>
        <dd class="col-sm-9">@ClaimFor.ProfileClaim.SlimUi</dd>
        <!-- Add more user details here if necessary -->
    </dl>
}