@{
    var headers = Context.Request.Headers;
    var isHtmxRequest = headers.ContainsKey("HX-Request") && headers["HX-Request"] == "true";

    Layout = "_LayoutBase";
    if (isHtmxRequest)
        Layout = "_LayoutBaseHtmx";

    var statusMessage = TempData[Get.TempDataKeys.StatusMessage] as string;
    var layoutOptions = ViewData[Get.ViewDataKeys.MainContentLayoutOptions] as MainContentLayoutOptions ?? new MainContentLayoutOptions();
    //todo: add toolbar
    //todo: add debug store as an item to action bar
}

<partial name="_Navbar"/>

<div class="container-xxl d-flex flex-grow-1 p-0 bg-body bg-gradient" style="overflow: hidden; box-sizing: border-box; ">
    @if (ScopeContext.MFACompleted)
    {
        <partial name="_Sidebar"/>
    }

    <div class="d-flex flex-column flex-grow-1 mt-1" style="overflow-y: hidden;">
        @if (ScopeContext.MFACompleted)
        {
            <partial name="_SubNavigation"/>
        }
        <aside>
            @await RenderSectionAsync("MainTop", required: false)
        </aside>

        @if (!string.IsNullOrWhiteSpace(statusMessage))
        {
            <aside class="alert alert-success alert-dismissible mb-0 mt-1 mx-3">
                <div role="alert">
                    @TempData[Get.TempDataKeys.StatusMessage]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </aside>
        }

        <!-- Main content -->
        <div class=" d-flex  @(layoutOptions.CenterVertically ? "flex-column" : "") justify-content-center flex-grow-1" style="overflow-y: auto;">
            <main class="p-3 @(layoutOptions.CenterVertically ? "" : "flex-grow-1")" style="max-width: 100%;">
                <div class="row @(layoutOptions.CenterHorizontally ? "justify-content-center" : "")">
                    <div class="@layoutOptions.CssColumnSize() @layoutOptions.CssTextAlignment()">
                        @if (layoutOptions.Type == MainContentType.Card || layoutOptions.Type == MainContentType.CardBody)
                        {
                            <div class="card bg-light-subtle m-0">
                                @if (!string.IsNullOrWhiteSpace(layoutOptions.Title))
                                {
                                    <h3 class="card-header">@layoutOptions.Title</h3>
                                }
                                @if (layoutOptions.Type == MainContentType.CardBody)
                                {
                                    <div class="card-body">@RenderBody()</div>
                                }
                                else
                                {
                                    @RenderBody()
                                }
                            </div>
                        }
                        else
                        {
                            @RenderBody()
                        }
                    </div>
                </div>
            </main>
        </div>

        <aside>
            @await RenderSectionAsync("MainBottom", required: false)
        </aside>
    </div>
    @if (ScopeContext.MFACompleted)
    {
        <partial name="_SidebarActionbar"/>
    }
</div>

<partial name="_Footer"/>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}