@using DRN.Framework.SharedKernel.Enums

<header class="navbar navbar-expand-lg container-xxl bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center link-body-emphasis text-decoration-none" href="@PageFor.Root.Home" mark-when-active="false">
            <i class="bi bi-bootstrap-reboot me-2" style="font-size: 1.5rem; "></i>@ScopeContext.Settings.ApplicationName
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@PageFor.Root.Home">Home</a>
                </li>
                <environment include="@AppEnvironment.Development.ToString()">
                    <li class="nav-item">
                        <a class="nav-link" authorized-only href="@PageFor.Root.Swagger" target="_blank">Swagger</a>
                    </li>
                </environment>
                <!-- Add more links here if needed -->
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (ScopeContext.Authenticated)
                {
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            @ScopeContext.User.Name
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end bg-primary dropdown-menu-dark border-0" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="@PageFor.UserProfile.Details">My Profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="@PageFor.User.Logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <profile-picture class="rounded-circle" width="40" height="40"/>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@PageFor.User.Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@PageFor.User.Register">Register</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>