@using DRN.Framework.Hosting.TagHelpers
@using Sample.Hosted.Utils

@{
    var index = 0;
    var isSlim = ClaimFor.Profile.SlimUi;
    var iconStyle = isSlim ? string.Empty : "me-2";
    var settingsText = isSlim ? string.Empty : " Settings";
    var settingsTitle = isSlim ? "Settings" : string.Empty;

    var sidebarNavigationCollection = ViewData[ViewDataFor.SidebarNavigationCollection] as SidebarNavigationCollection ?? new SidebarNavigationCollection();
    var sidebarSettingsCollection = ViewData[ViewDataFor.SidebarSettingsCollection] as SidebarSettingsCollection ?? new SidebarSettingsCollection();
}

<aside class="d-flex p-1 bg-body-tertiary flex-column align-items-center">
    <!-- Scrollable Navigation Section -->
    <nav class="flex-grow-1" style="overflow-y:auto; overflow-x: hidden">
        <ul class="nav nav-pills nav-flush flex-column mb-auto">
            @foreach (var navItem in sidebarNavigationCollection.Items)
            {
                var titleAsText = isSlim ? string.Empty : navItem.Title;
                var titleAsTooltip = isSlim ? navItem.Title : string.Empty;
                var borderBottom = ++index == sidebarNavigationCollection.Items.Count ? "border-bottom" : "";
                <li class="nav-item">
                    <a href="@navItem.Href"
                       class="btn btn-light nav-link d-flex align-items-center py-2 @borderBottom border-top rounded-0"
                       title="@titleAsTooltip" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="bi @navItem.Icon @iconStyle" style="font-size: 1.25rem;"
                           role="img" aria-label="@navItem.Title"></i>
                        @titleAsText
                    </a>
                </li>
            }
        </ul>
    </nav>
    <!-- Fixed Sidebar Settings Section -->
    <nav>
        <ul id="SidebarSettings" class="nav nav-pills nav-flush flex-column">
            <li id="SidebarSettingsItem" class="nav-item">
                <div class="dropup d-flex" title="@settingsTitle" data-bs-toggle="tooltip" data-bs-placement="right">
                    <button id="SidebarSettingsToggle"
                            class="btn nav-link d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle p-2  rounded-0"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-gear-fill" style="font-size: 1.25rem;">@settingsText</span>
                    </button>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="SidebarSettingsToggle">
                        @foreach (var settingsItem in sidebarSettingsCollection.Items)
                        {
                            <li>
                                @if (settingsItem.Divider)
                                {
                                    <hr class="dropdown-divider">
                                }
                                else
                                {
                                    <a class="dropdown-item" href="@settingsItem.Href">@settingsItem.Title</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</aside>

@*
https://getbootstrap.com/docs/5.3/examples/
https://getbootstrap.com/docs/5.3/examples/sidebars/
*@

@*@await Html.PartialAsync("_SidebarCollapsible")*@
@*@await Html.PartialAsync("_SidebarListGroup")*@