@{
    var index = 0;
    var actionCount = SidebarActionCollection.DefaultItems.Count;
}

<aside class="d-flex p-1 bg-body-tertiary">
    <nav class="d-flex flex-column align-items-center" style="width: 4.5rem;">
        <ul id="ActionbarActionList" class="nav nav-pills nav-flush flex-column mb-auto">
            @foreach (var navItem in SidebarActionCollection.DefaultItems)
            {
                var borderBottom = ++index == actionCount ? "border-bottom" : "";
                var canvasId = $"#offCanvasSidebarAction{navItem.Id}";
                <li class="nav-item">
                    <div title="@navItem.Title" data-bs-toggle="tooltip" data-bs-placement="left">
                        <button class="btn btn-light nav-link d-flex align-items-center py-2 @borderBottom border-top rounded-0" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="@canvasId">
                            <span class="position-relative">
                                <i class="bi @navItem.Icon" style="font-size: 1.25em;" role="img" aria-label="@navItem.Title"></i>
                                @if (!string.IsNullOrWhiteSpace(navItem.BadgeContent))
                                {
                                    <span style="font-size: 0.7rem;"
                                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@navItem.BadgeContent
                                        @if (!string.IsNullOrWhiteSpace(navItem.BadgeVisuallyHiddenContent))
                                        {
                                            <span class="visually-hidden">@navItem.BadgeVisuallyHiddenContent</span>
                                        }
                                    </span>
                                }
                            </span>
                        </button>
                    </div>
                </li>
            }
        </ul>
    </nav>
</aside>

@foreach (var navItem in SidebarActionCollection.DefaultItems)
{
    var canvasId = $"offCanvasSidebarAction{navItem.Id}";
    var canvasLabelId = $"offCanvasSidebarActionLabel{navItem.Id}";
    var partialName = $"_SidebarActionbarItem{navItem.Id}";
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="@canvasId" role="dialog" aria-modal="true" aria-labelledby="@canvasLabelId">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="@canvasLabelId">@navItem.Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <partial name="@partialName" model="navItem"/>
        </div>
    </div>
}