@using DRN.Framework.SharedKernel.Enums
@using DRN.Framework.Utils.Models
@inject IAppSettings AppSettings
@inject DevelopmentStatus DevelopmentStatus

@{
    var index = 0;
    var actionCount = SidebarActionCollection.DefaultItems.Count;
    var sidebarActionCollection = ViewData[Get.ViewDataKeys.SidebarActionCollection] as SidebarActionCollection ?? new SidebarActionCollection();
}

<aside class="d-flex p-1 bg-body-tertiary flex-column align-items-center">
    <nav class="flex-grow-1" style="overflow-y:auto; overflow-x: hidden">
        <ul id="ActionbarActionList" class="nav nav-pills nav-flush flex-column mt-1 mb-auto">
            @foreach (var navItem in sidebarActionCollection.Items)
            {
                var borderBottom = ++index == actionCount ? "border-bottom" : "";

                <li class="nav-item" id="@navItem.ActionItemId" data-js-actionbar-item>
                    <div title="@navItem.Title" data-bs-toggle="tooltip" data-bs-placement="left">
                        <button class="btn btn-light nav-link d-flex align-items-center py-2 @borderBottom border-top rounded-0" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#@navItem.ActionItemCanvasId">
                            <span class="position-relative">
                                <i class="bi @navItem.Icon" style="font-size: 1.25em;" role="img" aria-label="@navItem.Title"></i>
                                @if (navItem.BadgeContentGenerator != null || !string.IsNullOrWhiteSpace(navItem.BadgeContent))
                                {
                                    var badgeContent = navItem.GetBadgeContent();
                                    @if (!string.IsNullOrWhiteSpace(badgeContent))
                                    {
                                        <span style="font-size: 0.7rem;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">                                    
                                            <span class="@navItem.ActionItemBadgeContentClass">@badgeContent</span>
                                            @if (!string.IsNullOrWhiteSpace(navItem.BadgeVisuallyHiddenContent))
                                            {
                                                <span class="visually-hidden">@navItem.BadgeVisuallyHiddenContent</span>
                                            }
                                        </span>
                                    }
                                }
                            </span>
                        </button>
                    </div>
                </li>
            }
        </ul>
    </nav>
    <nav style="overflow-y:auto; overflow-x: hidden">
        <ul id="ActionBarBadgeList" class="nav nav-pills nav-flush flex-column mt-1 mb-auto">
            @if (AppSettings.Environment != AppEnvironment.Production)
            {
                <partial name="_SidebarActionbarBadges" model="DevelopmentStatus"/>
            }
        </ul>
    </nav>
</aside>

@foreach (var navItem in SidebarActionCollection.DefaultItems)
{
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="@navItem.ActionItemCanvasId" role="dialog" aria-modal="true"
         aria-labelledby="@navItem.ActionItemCanvasLabelId">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="@navItem.ActionItemCanvasLabelId">
                <div class="d-flex gap-3 text-primary">
                    <h4 class="position-relative">
                        <i class="bi @navItem.Icon" role="img" aria-label="@navItem.Title"></i>
                        @if (navItem.BadgeContentGenerator != null || !string.IsNullOrWhiteSpace(navItem.BadgeContent))
                        {
                            var badgeContent = navItem.GetBadgeContent();
                            @if (!string.IsNullOrWhiteSpace(badgeContent))
                            {
                                <span style="font-size: 0.7rem;" data-js-actionbar-badge
                                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <span class="@navItem.ActionItemBadgeContentClass">@badgeContent</span>
                                    @if (!string.IsNullOrWhiteSpace(navItem.BadgeVisuallyHiddenContent))
                                    {
                                        <span class="visually-hidden">@navItem.BadgeVisuallyHiddenContent</span>
                                    }
                                </span>
                            }
                        }
                    </h4>
                    <h4>
                        @navItem.Title
                    </h4>
                </div>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <partial name="@navItem.PartialViewName" model="navItem"/>
        </div>
    </div>
}