@{
    var layoutOptions = ViewData[ViewDataFor.MainContentLayoutOptions] as MainContentLayoutOptions ?? new MainContentLayoutOptions();
    var subNavigation = layoutOptions?.SubNavigation;
    var justifyContentCenter = subNavigation?.JustifyContentCenter ?? false ? "justify-content-center" : string.Empty;
}

@if (subNavigation?.Items.Count > 0)
{
    <nav>
        <ul class="nav nav-tabs @justifyContentCenter">
            @foreach (var navItem in subNavigation.Items)
            {
                <li class="nav-item">
                    <a href="@navItem.Href"
                       class="nav-link link-dark d-flex align-items-center pb-2 mt-1 rounded-0">
                        <i class="bi @(navItem.Icon ?? "bi-file-earmark") me-2" style="font-size: 1.25rem;"
                           role="img" aria-label="@navItem.Title">
                        </i> @navItem.Title
                    </a>
                </li>
            }
        </ul>
    </nav>
}